@page "/suppliers"
@using NorthwindCrudApp.Data;
@inject NorthwindCrudApp.IService.ISupplierService supplierService
<MatButton Outlined="true" @onclick="@(e=>OpenDialog(false))">Add New Supplier</MatButton>

<MatTable Items="@suppliers">
    <MatTableHeader>
        <th>SupplierID</th>
        <th>CompanyName</th>
        <th>ContactName</th>
        <th>ContactTitle</th>
        <th>Address</th>
        <th>City</th>
        <th>Region</th>
        <th>PostalCode</th>
        <th>Country</th>
        <th>Phone</th>
        <th>Fax</th>
        <th>HomePage</th>
        <th>Action</th>
    </MatTableHeader>
    <MatTableRow>
        <td>@context.SupplierID</td>
        <td>@context.CompanyName</td>
        <td>@context.ContactName</td>
        <td>@context.ContactTitle</td>
        <td>@context.Address</td>
        <td>@context.City</td>
        <td>@context.Region</td>
        <td>@context.PostalCode</td>
        <td>@context.Country</td>
        <td>@context.Phone</td>
        <td>@context.Fax</td>
        <td>@context.HomePage</td>
        <td>
         <MatButton Raised="true" @onclick="@(e=>OpenDialog(true))" Icon="edit" title="Edit"></MatButton>
         <MatButton Raised="true" @onclick="@(e=>OpenDialog(true))" Icon="restore_from_trash" title="Delete"></MatButton>
        </td>
    </MatTableRow>
</MatTable>
<MatDialog @bind-IsOpen="@dialogIsOpen"> 
    <MatDialogTitle>Add/Edit Order Detail</MatDialogTitle>
    <MatDialogContent>
       <MatTextField Label="Company Name" @bind-Value="@supplier.CompanyName"></MatTextField>
        <MatTextField Label="Contact Name" @bind-Value="@supplier.ContactName"></MatTextField>
         <MatTextField Label="Contact Title" @bind-Value="@supplier.ContactTitle"></MatTextField>
          <MatTextField Label="Address" @bind-Value="@supplier.Address"></MatTextField>
           <MatTextField Label="City" @bind-Value="@supplier.City"></MatTextField>
            <MatTextField Label="Region" @bind-Value="@supplier.Region"></MatTextField>
             <MatTextField Label="Postal Code" @bind-Value="@supplier.PostalCode"></MatTextField>
              <MatTextField Label="Country" @bind-Value="@supplier.Country"></MatTextField>
               <MatTextField Label="Phone" @bind-Value="@supplier.Phone"></MatTextField>
                <MatTextField Label="Fax" @bind-Value="@supplier.Fax"></MatTextField>
                <MatTextField Label="HomePage" @bind-Value="@supplier.HomePage"></MatTextField>

    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="OkClick">Add</MatButton>
        <MatButton OnClick="CloseDialog">Close</MatButton>
    </MatDialogActions>
</MatDialog>




@code {
    private List<Supplier> suppliers = new List<Supplier>();
    Supplier supplier = new Supplier();
    bool _isEdit = false;
    bool dialogIsOpen = false;

    string Message = "";

    protected override async Task OnInitializedAsync()
    {
        GetSuppliers();

    }

    private void GetSuppliers()
    {
        suppliers = supplierService.GetSuppliers();
    }

 

    protected async Task AddSuppliers()
    {
        await supplierService.AddSupplier(supplier);
    }
   

    private void OpenDialog(bool isEdit)
    {
        _isEdit = isEdit;
        if (!_isEdit) supplier = new Supplier();
        dialogIsOpen = true;
    }

    private async void OkClick()
    {
        dialogIsOpen = false;
        if (!_isEdit) AddSuppliers();
  

    }

    private void CloseDialog()
    {
        dialogIsOpen = false;
    }

}
